<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projects.mallory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- ATTACK ONE -->
        <activity
            android:name=".attack1.M1_Attack1"
            android:exported="true">
            <intent-filter>
                <action android:name="com.projects.mallory.STARTM1ATT1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ATTACK TWO -->
        <activity
            android:name=".attack2.M1_Attack2"
            android:taskAffinity="com.projects.bob.ATTACK">
            <intent-filter>
                <action android:name="com.projects.mallory.STARTM1ATT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".attack2.M2_Attack2" /> <!-- ATTACK THREE -->
        <activity
            android:name=".attack3.M1_Attack3"
            android:exported="true"
            android:taskAffinity="com.projects.mallory.MALTASK">
            <intent-filter>
                <action android:name="com.projects.mallory.StartM1Att3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".attack3.M2_Attack3"
            android:allowTaskReparenting="true"
            android:taskAffinity="com.projects.alice.ATTACK">
            <intent-filter>
                <action android:name="com.projects.mallory.StartM2Att3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ATTACK FOUR -->
        <activity
            android:name=".attack4.M1_Attack4"
            android:taskAffinity="com.projects.alice">
            <intent-filter>
                <action android:name="com.projects.mallory.StartM1Att4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ATTACK FIVE -->
        <activity
            android:name=".attack5.M1_Attack5"
            android:taskAffinity="com.projects.bob">
            <intent-filter>
                <action android:name="com.projects.mallory.STARTM1ATT5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".attack5.M2_Attack5"
            android:taskAffinity="com.projects.bob">
            <intent-filter>
                <action android:name="com.projects.mallory.STARTM2ATT5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ATTACK SIX -->
        <activity android:name=".attack6.M1_Attack6">
            <intent-filter>
                <action android:name="com.projects.mallory.STARTM1ATT6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".attack6.M2_Attack6"
            android:taskAffinity="com.projects.alice"></activity>
    </application>

</manifest>